*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

body{
background-color:#1f242d;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
   
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 35px;
    list-style: none;
    
}

.navbar ul li a{
    font-size: 20px;
    font-weight: 500px;
    transition: 1s;

}

.navbar ul li:hover a,
.navbar ul li.active a{
color: #7cf03d;
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;

}

.home-info h1{
  font-size: 55px;  
}

.home-info h2{
  font-size: 32px;
  margin-top: 10px;  
  
}


.home-info p{
    font-size:16px ;
    margin: 10px 0 25px;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;

}

.btn{
    display: inline-block;
    margin: 10px 30px;
    background-color: #7cf03d;
    border: 2px solid #7cf03d ;
    border-radius: 40px ;
    box-shadow: 0 0 10px #7cf03d;
}
.home-info .btn-sci .sci{
   margin-left: 20px; 

}

.home-info .btn-sci .sci a{
    margin: 0 8px;
    display: inline-flex;
    padding: 8px ;
    border: 2px solid #7cf03d ;
    border-radius: 50% ;
    font-size: 20px;
    color: #7cf03d;
    transition: 0.5s ;
    
}

.home-info .btn-sci .sci a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d ;
}

.home-image .image-box{
    width: 32vw;
    height: 32vw;
    background-color: aquamarine;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    
}

.home-image .image-box::before,
.home-image .image-box::after{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background:conic-gradient(transparent, transparent, transparent, #7cf03d);

}

.home-image .image-box .image-item{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 50%;
position: relative;
justify-content: center;
z-index: 1;
overflow: hidden;

}

.home-image .image-box .image-item img{
position: absolute;
display: block;
width: 85%;
object-fit: cover;
top: 30px;

}







